@model HomeVM
@{
    //List<Computer> computers = ViewBag.Computers;
    //List<Computer> dataComputers = (List<Computer>)ViewData["Computers"];
    ViewBag.Title = "Index";
}
<h1>Home index page</h1>

@*<ul>
        @foreach (Computer computer in ViewBag.Computers)
        {
            <li style="color:@(computer.Count == 0 ? "red" : "")">
                Id: @computer.Id, Brand: @computer.Brand, Model: @computer.Model, Memory: @computer.Memory, Ram: @computer.Ram, Processor: @computer.Processor,
                Release date: @computer.ReleaseDate.ToString("dd,MMMM,yyyy"), Count: @computer.Count
            </li>
        }
    </ul>*@


<ul>
    @* Model = View-nun icerisindeki her hansi bir data*@
    @foreach (Computer computer in Model.Computers)
    {
        <li style="color:@(computer.Count == 0 ? "red" : "")">
            Id: @computer.Id, Brand: @computer.Brand, Model: @computer.Model, Memory: @computer.Memory, Ram: @computer.Ram, Processor: @computer.Processor,
            Release date: @computer.ReleaseDate.ToString("dd,MMMM,yyyy"), Count: @computer.Count
        </li>
    }
</ul>

<ul>
    @foreach (Card card in Model.Cards)
	{
		 <li>
             <div>
                 <img width="200" src="as@card.Image" alt="@card.Name" />
             </div>
             <div>
                 <span>
                     @card.Name
                 </span>
             </div>
         </li>
	}
</ul>

<span>
    @TempData["Computer"]
</span>